
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Shizuru&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
}

#container {
    width: 70%;
    margin: 0 auto;
}


header {
    text-align: center;
}

h1 {
    font-family: 'Shizuru', cursive;
    text-align: center;
    margin-bottom: 10px;
} 

h3 {
    margin-top: 10px;
}
.card {
    
    margin-top: 15px;
    border-radius: 5px;;
}

.lineinput {
   display: grid;
   margin-bottom: 5px;
   font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solide #ccc;
    border-radius: 5px;
    outline: 0;
}

button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    outline: 0;
    background-color: rgb(44 54 110 / 54%);
    color: #ffff;
    transition: all ease 0.4s;
}

button:hover{
    background-color: #fbe837c7;
    color: black;
}

.content {
    margin-top: 15px;
   
}

table {
    border-collapse: collapse;
    border: 1px solid #cccc;
    width: 100%;   
}

table th {
    background-color: rgb(44 54 110 / 54%);
    color:#ffff;
    padding: 5px;
    text-align: center;
    
}

table td {
    padding: 5px;
    text-align: center;
    
}
